.navbar{
    text-align: right;
    position: absolute;
    top: 5%;
    right: 0%;
    text-decoration: none;
    
}
.navbar a {
    position: absolute;
    right: 100%;
    text-decoration: none;
    color: black; 
       

}
.navbar #a1{
    position: absolute;
    right: 300%;
    text-decoration: none;
    color: black;
}

#a1:hover{
    text-decoration: underline;

} 
a:hover{
    text-decoration: underline;

}
.center {
 position: absolute;
 top: 25%;
 left: 40%;   
}
#image{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    top: 80%;
    left: 80%;
    white-space: nowrap;

}

#google{
    position: absolute;
    top: -400%;
}
input[type=submit]{
    position: absolute;
    top: 180%;
    left: 0%;
    text-align: center;
    font-size: 15px;
    border: 0cm;
}
.center input[type=text]{
    border-radius: 25px;
    border-width: 1px;
    position: absolute;
    top: 120%;
    left: -50%;
    width: 200%;
    height: 50%;
    text-align: center;
    font-size: 20px;
}

#submit2{
    position: absolute;
    top: 180%;
    left: 50%;
    text-align: center;
    font-size: 15px;
    border: 0cm;
}
#submit2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#searchbutton{
    position: absolute;
    left: 130%;
    top: 127%;
    border-radius: 25px;
    border: 0cm;
}
#searchbutton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type=submit]:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#blue-search{
    background-color: #4d90fe;
    color: white;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
}
#explanation{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    position: relative;
    top: 0%;
    left: 0%;
    white-space: nowrap;
}
.center-advanced input[type=text]{
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    left: 20%;
    top: 50%;
    margin: 10px;
}
.form label{
    width: 16%;
	font-size: 14px;
    right: 50%;
}
body {
    margin: 0px;
    height: 100hv;
    font-family: Arial, sans-serif;
}
.center-advanced {
    margin: 100px 40px;
}

.title-advanced{
    color: #d93025;
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 3%;
    margin: 10px;
}
#srch-bx{
    position: absolute;
    left: 33%;
    top: 16%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
}