.navbar{
    text-align: right;
    position: absolute;
    top: 5%;
    right: 0%;
}
.navbar a {
    position: absolute;
    right: 100%;

}
.navbar #a1{
    position: absolute;
    right: 300%;
} 
.center {
 position: absolute;
 top: 25%;
 left: 40%;   
}
#image{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    top: 80%;
    left: 80%;
    white-space: nowrap;

}

#google{
    position: absolute;
    top: -400%;
}
input[type=submit]{
    position: absolute;
    border-radius: 25px;
    top: 180%;
    left: 0%;
    text-align: center;
    font-size: 15px;
}
input[type=text]{
    border-radius: 25px;
    position: absolute;
    top: 120%;
    left: -50%;
    width: 200%;
    height: 50%;
    text-align: center;
    font-size: 20px;
}
#submit2{
    position: absolute;
    border-radius: 25px;
    top: 180%;
    left: 50%;
    text-align: center;
    font-size: 15px;
}
#searchbutton{
    position: absolute;
    left: 130%;
    top: 127%;
}